.events {
    height: calc(100vh - 70px);

    grid-column: 3 / 4;
    grid-row: 1 / 2;

    background-color: #05c;

    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
}

.events .task-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taskItem {
    display: flex;
    align-items: center;
}