.lead-header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    margin:  1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.lead-header,
#input-with-icon-textfield {
    font-size: 1rem;
}

.lead-search-bar {
    flex: 2;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text {
    visibility: hidden;
    background-color: #d1e2eb;
    color: black;
    font-size: .75rem;
    text-align: center;
    border-radius: 6px;
    padding: 1rem;

    position: absolute;
    z-index: 1;
    left: 100%;

    opacity: 0;
    transition: opacity 0.3s;
    
}

.tooltip:hover  .tooltip-text {
    visibility: visible;
    opacity: 1;
}


.status {
    display: flex;
    gap: 1rem;
    margin: .5rem 1rem
}

.status .square {
    width: 1rem;
    height: 1rem;
    border-radius: 3px;
}

.square.interested {
    background-color: black;
}
.square.applied {
    background-color: var(--primary-dark-color);
}
.square.interviewing {
    background-color: #fb8500;
}
.square.offered {
    background-color: var(--primary-light-color);
}
.square.notSelected {
    background-color: #a6a6a6;
}