.user-leads {
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    position: relative;

}

.flex-area .user-leads.lead-grid {

    width: calc(100% - 4rem);
    margin-right: 0;
    max-height: calc(100vh - 90px - 2rem);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 5fr;
}



.lead-grid .add-lead-btn {
    position: absolute;
    bottom: 0;
    right: 0;
}

.add-lead-btn .add-btn {
    width: 2.5rem;
    height: 2.5rem;
}

