.insight-grid {
    margin: 1rem 0 0;
    padding: 0 1rem ;
    background-color: blalck;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 400px;
    grid-row: 100px 1fr;
    gap: 1rem;
}

.insight-grid-item {
    padding: 1rem;
    background-color: #fff;
}

.insight-grid .insight-grid-item.timeline-panel.dash-card {
 margin: 0 1rem 1rem;
}

.insight-grid .insight-grid-item.stats-box {
    background-color: transparent;
}

.stats-box {
    padding: 0 0 1rem;

    min-height: 100px;

    grid-column: 1 / 4;
    grid-row: 1 / 2;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stats-box {
    margin: 1rem 0 0;
}

.stat-col.dash-card {
    padding: .5rem 0;
    margin-bottom: 0;
}

.stats-box .stat-col {
    width: 225px;
    height: 100%;
    position: relative;
}

.stat-col p {
    text-align: center;
}

.stat-col.lead-total {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.lead-total h2 {
    font-size: 4rem;
}
.lead-total p {
    font-size: 1.25rem;
    font-weight: 600;
}



.MuiGauge-root .MuiGauge-referenceArc {
    fill: #a5be008f;
    
}


.stats-box .gauge-title{
    width: 100%;
    position: absolute;
    bottom: 15;
    font-weight: 700;
}


.timeline-panel,
.insight-panel {
    height: calc(100vh - 90px - 4rem - 132px)
}

.timeline-panel {
    grid-column: 1 / 3;
    grid-row: 2 / 3;

    display: flex;
    justify-content: space-between;
}

.insight-panel {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.timeline-col {
    border: 1px solid #c5c5c5;

    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;

    max-height: calc(100vh - 90px - 3.5rem - 132px)
}


.lead-scroll-list {
    width: 49%;
    padding: 0 2rem;
    scrollbar-width: thin;
    scrollbar-color: #c5c5c5 #fff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.lead-scroll-list::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
.lead-scroll-list::-webkit-scrollbar-track {
    background: #fff;
}
.lead-scroll-list::-webkit-scrollbar-thumb {
    background: #c5c5c5;
}
.lead-scroll-list::-webkit-scrollbar-thumb:hover {
    
    background: #b5b5b5;
}

.lead-scroll-list .timeline-lead .lead{
    width: 90%;
}

.lead-scroll-list .timeline-lead .lead:hover{
    border: 3px solid var(--primary-dark-color);
}

.timeline-view {
    width: 40%;
}

.timeline-panel .no-display {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-display p {
    font-size: 1.25rem;
    font-weight: 600;
    
}

.timeline-view .MuiTimelineConnector-root {
    height: 100px;
}

