.insight-grid {
    margin: 1rem 1rem 0;
    padding: 1rem 1rem 0;
    background-color: blalck;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 100px 1fr;
    gap: 1rem;
}

.insight-grid-item {
    padding: 1rem;
    background-color: #fff;
}

.stats-box {
    min-height: 100px;

    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.timeline-panel,
.insight-view {
    height: calc(100vh - 90px - 4rem - 132px)
}

.timeline-panel {
    grid-column: 1 / 3;
    grid-row: 2 / 3;

    display: flex;
    justify-content: space-between;
}

.insight-view {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.timeline-col {
    border: 1px solid #c5c5c5;

    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;

    max-height: calc(100vh - 90px - 3.5rem - 132px)
}

.lead-scroll-list {
    width: 49%;
    padding: 0 2rem;
    scrollbar-width: thin;
    scrollbar-color: #c5c5c5 #fff;
}

.lead-scroll-list::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
.lead-scroll-list::-webkit-scrollbar-track {
    background: #fff;
}
.lead-scroll-list::-webkit-scrollbar-thumb {
    background: #c5c5c5;
}
.lead-scroll-list::-webkit-scrollbar-thumb:hover {
    
    background: #b5b5b5;
}

.timeline-view {
    width: 40%;
}

.timeline-view .MuiTimelineConnector-root {
    height: 100px;
}