.new-lead-form {
    margin: 0;
}

.new-lead-form .lead-row {
    display: flex;
    gap: 1rem;
    margin-bottom: .5rem;
}

.new-lead-form .lead-input {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: 1rem;
}
