@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Parkinsans:wght@300..800&display=swap');

:root {
  font-family: "Barlow Condensed", serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: black;
  --secondary-color: #ebf2fa;
  --main-bg-color: #d9d9d9;
  --primary-dark-color: #05668D;
  --secondary-dark-color: #427AA1;
  --primary-light-color: #679436;
  --secondary-light-color: #a5be00;

  --small-font: 0.875rem;
  --header-font: 'Parkinsans', sans-serif;
  
  font-family: 'Inter', sans-serif;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


